* {
	margin: 0;
	padding: 0;
}

.nav-bar {
	 display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin: 37px 55px;
  height: 50px;
  position: absolute;
  z-index: 1;
}

.header-center {
	padding : 0 306px;
}

.nav-list {
	display : flex;
	list-style: none;
}

.header-right {
  margin-left: -50px;
}

.nav-link {
  display: block;
  margin: 0 25px;
  font-weight: bold;
  font-size: 15px;
  font-family: Roboto;
  cursor: pointer;
  height: 30px;
  line-height: 20px;
  letter-spacing: -0.468947px;
  position: relative;
}

.get-start {
  display: inline-block;
  border: none;
  background: #7854F7;
  border-radius: 10px;
  color: #fff;
  padding: 19px 45px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
}

.Login {
  display : inline-block;
  border : none;
  background: rgb(219, 217, 217);
  padding : 19px 20px;
  font-weight: bold;
}

.header-text-right {
  position: absolute;
  margin: 185px 200px;
}

.header-text-right h2 {
  font-family: Circular Std;
  font-style: Bold;
  font-size: 85px;
  Align: Left;
  Vertical-align: top;
}

.header-text-right p {
  Font-family: Roboto;
  Font-style: Regular;
  Font-size: 18px;
  line-height: 25px;
  line-height: 119%;
  Align: Left;
  vertical-align: Top;
  color : #94A2B3;
}

.New-store {
    display: inline-block;
  border: none;
  background: #7854F7;
  border-radius: 70px;
  color: #fff;
  padding: 19px 45px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
}

.a-or {
  font-family: Roboto;
  font-style: (mixed);
  font-size: (mixed);
  line-height: 25px;
  vertical-align: Top;
  margin-left: 15px;
}

.header-text-left{
  position : absolute;
}

.imgbitmap {
  margin-top: 250px;
  margin-left: 1100px;
}

.img15 {
  margin-left: 1000px;
  margin-top: -500px;
  display : flex;
  border-radius: 50px;
}

.imgmaskgroup {
  display : flex;
  margin-left: 1200px;
  margin-top: 180px;
  
}

.imgsale {
  display : flex;
  margin-left: 1350px;
  margin-top: -580px;
}

.imgsafe {
  display: flex;
  margin-left:1600px;
  margin-top: 20px;
}

.imgInfor {
  display : flex;
  margin-left: 1570px;
  margin-top : -50px;
}

.main-title {
   position: absolute;
  margin: 185px 200px;
}

.title {
  display: flex;
  margin-top: 700px;
  margin-left: 550px;
  font-family: Circular Std;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: center;
}

.main-img {
  position: absolute;
}

.rec223 {
  display : flex;
  height: 294px;
  width: 430px;
  left: 721px;
  top: 1287px;
  border-radius: 20px;

  margin-top: 1000px;
  margin-left: 200px;
}

.rec224 {
  display : flex;
  height: 294px;
  width: 430px;
  left: 721px;
  top: 1287px;
  border-radius: 20px;
  margin-top: -250px;
  margin-left: 600px;
}

.rec225 {
  display : flex;
  height: 294px;
  width: 430px;
  left: 721px;
  top: 1287px;
  border-radius: 20px;

  margin-top: -200px;
  margin-left: 1000px;
}

.rec227 {
  display: flex;
  height: 95px;
  width: 140px;
  left: 1252px;
  top: 1312px;
  border-radius: 10px;
  margin-left: 1050px;
  margin-top: -250px;
}

.rec228 {
  display: flex;
  height: 77px;
  width: 114px;
  left: 1488px;
  top: 1230px;
  border-radius: 10px;
  margin-top: -150px;
  margin-left:1260px;
}

.rec226 {
  display : flex;
  height: 116px;
  width: 170px;
  left: 1545px;
  top: 1478px;
  border-radius: 10px;
  margin-left: 1300px;
  margin-top: -170px;
}

.logo-apple {
  display : flex;
  position: absolute;
  height: 48px;
  width: 68px;
  left: 138px;
  top: 1221px;
  border-radius: 0px;
  margin-left: 20px;
  margin-top: -180px;

}

.img16 {
  display : flex;
  position: absolute;
  height: 264px;
  width: 202px;
  left: 114px;
  top: 1271px;
  border-radius: 10px;
  margin-top: -200px;

}

.img17 {
  display : flex;
  position: absolute;
  height: 68.9705810546875px;
  width: 105px;
  left: 769px;
  top: 1245px;
  border-radius: 10px;
  margin-left: -100px;
  margin-top: -200px;
}

.img18 {
  display : flex;
  position: absolute;
  height: 69.31640625px;
  width: 105px;
  left: 1010px;
  top: 1306px;
  border-radius: 10px;

}

.img19{
  display : flex;
  position: absolute;
  height: 69.31640625px;
  width: 105px;
  left: 769px;
  top: 1399px;
  border-radius: 10px;
  margin-top: -200px;
  margin-left: -50px;

}

.img20 {
  display : flex;
  position: absolute;
  height: 69.31640625px;
width: 105px;
left: 874px;
top: 1536px;
border-radius: 10px;
margin-top: -280px;
margin-left: -100px;

}

.img22{
  display : flex;
  position: absolute;
  height: 69.31640625px;
width: 105px;
left: 950px;
top: 1421px;
border-radius: 10px;
margin-left: -50px;
margin-top: -350px;
}

.grid {
  justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto ;
}

.infor1 {
   margin-top: 1300px;
   margin-left: 10px
}

.infor2 {
   margin-top: 1300px;
   margin-left: 10px;
}

.infor3 {
   margin-top: 1400px;
   margin-left: 20px;
}

.infor-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 70px;
    color: #272D4E;
}

.infor-text {
    margin-top: 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #94A2B3;
    margin-bottom: 30px;
}

.btn-section {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #299EF3;

}

.main-section {
    background: url('./img-main/background-section.png') no-repeat;
    margin-top: 150px;
}

.main-section1 {
    display: flex;
    justify-content: center;
}

.section1-img {
    margin-top: -60px;
    margin-left: -350px;
}

.section1-content {
    margin-top: 97px;
    margin-left: 70px;
}

.content-sec {
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

.content-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 13px;
}

.content-btn {
    margin-top: 39px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background-color: #70C217;
    border-radius: 60px;
    padding: 35px;
    border: none;
}

.main-section2 {
    display: flex;
    justify-content: center;
}

.section2-content {
    margin-left: 200px;
}

.section2-img {
    margin-top: -60px;
    margin-left: 70px;
}

.testimonials-section {
    background-color: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
    margin-top: 150px;
}

.testi-title {
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
    text-align: center;
    color: #272D4E;
}

.testi-card1, .testi-card2, .testi-card3, .elipse1, .elipse2, .avar1, .avar2, .avar3, .avar4, .avar5, .avar6, .arrow-left, .arrow-right, .sign, .testi-text {
    position: absolute;
}

.testi-card1 {
    margin-top: 90px;
    margin-left: 490px;
    z-index: 2;
}

.testi-card2 {
    margin-top: 150px;
    margin-left: 515px;
    opacity: 1;
    z-index: 1;
}

.testi-card3 {
    margin-top: 240px;
    margin-left: 600px;
    z-index: 0;
}

.elipse1 {
    margin-top: 430px;
    margin-left: 420px;
    z-index: 0;
}

.elipse2 {
    margin-top: 150px;
    margin-left: 935px;
    z-index: 0;
}

.avar1 {
    box-shadow: inset 0px -16px 23px rgba(255, 255, 255, 0.6);
    margin-top: -30px;
    margin-left: 340px;
}

.avar2 {
    margin-top: -75px;
    margin-left: 1310px;
}

.avar3 {
    margin-top: 180px;
    margin-left: 90px;
}

.avar4 {
    margin-top: 200px;
    margin-left: 1460px;
}

.avar5 {
    margin-top: 510px;
    margin-left: 220px;
}

.avar6 {
    margin-top: 610px;
    margin-left: 1390px;
}

.arrow-left {
    margin-top: 605px;
    margin-left: 1050px;
}

.arrow-right {
    margin-top: 601px;
    margin-left: 1110px;
}

.sign {
    margin-top: 160px;
    margin-left: 800px;
    z-index: 3;
}

.testi-text {
    font-weight: normal;
    font-size: 26.7px;
    line-height: 39px;
    text-align: center;
    color: #94A2B3;
    margin-top: 240px;
    margin-left: 640px;
    z-index: 4;
}

.cta-section {
    margin-top: 900px;
}

.cta-title {
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
    text-align: center;
    color: #272D4E;
}

.cta-content {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #94A2B3;
    margin-top: 30px;
}

.cta-img {
    margin-top: 30px;
    margin-left: 250px;
}

.people-section {
    background-color: #5F37EF;
    display: flex;
    margin-top: -4px;
}

.pp-text {
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    color: #FFFFFF;
    margin-left: 415px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.pp-btn {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 60px;
    background-color: #5F37EF;
    padding: 40px;
    height: 1px;
    margin-top: 60px;
    margin-left: 70px;
}

footer {
    background-color: #7854F7;
    height: 900px;
}

.footer-des {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 100px;
}

.des {
    display: flex;
    margin-top: 40px;
}

.des-content {
    font-weight: normal;
    font-size: 20px;
    line-height: 52px;
    color: #FFFFFF;
    padding-left: 15px;
}

.footer-logo {
    margin: auto;
    margin-top: 150px;
    text-align: center;
}

.footer-line {
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.footer-about {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.about-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 52px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.about-content {
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF;
}

.about-column {
    margin: 60px;
}

.footer-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 20px;
    background-color: #FFFFFF;
    height: 80px;
}

.contact-icon {
    margin-top: 25px;
    margin-left: -80px;
}

.icon {
    margin: 30px;
}

.contact-copy {
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #272D4E;
    margin-top: 33px;
    margin-left: 300px;
}

.contact-logo {
    margin-top: 35px;
}

.logo-img {
    margin-left: 300px;
}
